[Unit]
Description=Setup WiFi through sound
After=alsa-restore.service mosquitto.service
 
[Service]
Type=simple
WorkingDirectory=/tmp
ExecStart=/usr/local/bin/hey_wifi
User=root
 
[Install]
WantedBy=sysinit.target
