[Unit]
Description=IO service
After=mosquitto.service

[Service]
Type=simple
WorkingDirectory=/tmp
ExecStart=/usr/bin/python3 /usr/local/bin/io_service.py
Restart=always
User=root

[Install]
WantedBy=sysinit.target


